<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" 
            id="pills-sign-in-tab" data-toggle="pill" 
            href="#pills-sign-in" 
            role="tab" 
            aria-controls="pills-sign-in" 
            aria-selected="true">Sign In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" 
            id="pills-sign-up-tab" 
            data-toggle="pill" 
            href="#pills-sign-up" 
            role="tab" 
            aria-controls="pills-sign-up" 
            aria-selected="false">Sign Up</a>
          </li>
      </ul>
      <div class="modal-content p-4">
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-sign-in" role="tabpanel" aria-labelledby="pills-sign-in-tab">
            <app-sign-in-modal></app-sign-in-modal>
          </div>
          <div class="tab-pane fade" id="pills-sign-up" role="tabpanel" aria-labelledby="pills-sign-up-tab">
            <app-sign-up-modal></app-sign-up-modal>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>