<nav class="navbar navbar-expand-lg navbar-dark backgroundBlue navbar-container">
    <a class="navbar-brand" href="#">
        <span><i class="fas fa-shopping-cart"></i></span>
        <span>upGrad Eshop</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <span class="spacer"></span>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="form-inline my-2 my-lg-0 position-relative">
        <input class="form-control mr-sm-2" type="search" placeholder="Type to search Products..." aria-label="Search">
        <div class="search-button position-absolute">
          <button type="submit">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </form>
      <span class="spacer"></span>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span><i class="fas fa-user"></i></span>
                <span>Account</span>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#" [routerLink]="['/sign-in']" routerLinkActive="router-link-active" data-toggle="modal" data-target="#exampleModal">Sign In</a>
                </div>
            </li>
        </ul>
    </div>
  </nav>