<div class="products">
    <div class="products-choice">
        <form>
            <div class="form-group">
                <div class="tabcontainer">
                    <p class="sort-by">Sort By</p>
                    <select class="form-control sselect" id="exampleFormControlSelect1">
                        <option>Default</option>
                        <option>Price Highest</option>
                        <option>Price Lowest</option>
                        <option>Newest</option>
                    </select>
                </div>
            </div>
          </form>
    </div>
    <div class="products-container pt-5 pb-5">
        <div class="card mb-5" style="width: 18rem;">
            <img class="card-img-top"
             src="https://images-na.ssl-images-amazon.com/images/I/41nDPLS4c2L.jpg"
             width="250px"
             height="250px"
             alt="Card image cap">
            <div class="card-body">
                <a  href="#" class="card-link">Some quick example text to build on the card title and make up the bulk of the card's content.</a>
                <p>₹<span>15000</span></p>
            </div>
        </div>
        <div class="card mb-5" style="width: 18rem;">
            <img class="card-img-top"
             src="https://cdn.shopify.com/s/files/1/0148/9934/7556/products/20180824_152347_1024x1024@2x.jpg?v=1547918633"
             width="250px"
             height="250px"
             alt="Card image cap">
            <div class="card-body">
                <a  href="#" class="card-link">Some quick example text to build on the card title and make up the bulk of the card's content.</a>
                <p>₹<span>200</span></p>
            </div>
        </div>
        <div class="card mb-5" style="width: 18rem;">
            <img class="card-img-top"
             src="https://target.scene7.com/is/image/Target/GUEST_9c2a3793-30c8-4b85-af99-5a1806facf25?wid=488&hei=488&fmt=pjpeg"
             width="250px"
             height="250px"
             alt="Card image cap">
            <div class="card-body">
                <a  href="#" class="card-link">Some quick example text to build on the card title and make up the bulk of the card's content.</a>
                <p>₹<span>9000</span></p>
            </div>
        </div>
        <div class="card mb-5" style="width: 18rem;">
            <img class="card-img-top"
             src="https://images-na.ssl-images-amazon.com/images/I/71E1p7tcACL._SX466_.jpg"
             width="250px"
             height="250px"
             alt="Card image cap">
            <div class="card-body">
                <a  href="#" class="card-link">Some quick example text to build on the card title and make up the bulk of the card's content.</a>
                <p>₹<span>200</span></p>
            </div>
        </div>
        <div class="card mb-5" style="width: 18rem;">
            <img class="card-img-top" 
            src="https://rukminim1.flixcart.com/image/416/416/jyt0knk0/laptop-bag/z/j/p/mf-solid-backpack-waterproof-backpack-72c1e1-laptop-backpack-original-imafc6gnt8hytrzs.jpeg?q=70"
            width="250px"
             height="250px"
             alt="Card image cap">
            <div class="card-body">
                <a  href="#" class="card-link">Some quick example text to build on the card title and make up the bulk of the card's content.</a>
                <p>₹<span>19000</span></p>
            </div>
        </div>
        <div class="card mb-5" style="width: 18rem;">
            <img class="card-img-top"
             src="https://www.fossil.com/on/demandware.static/-/Library-Sites-FossilSharedLibrary/default/dw573c4176/2020/SU20/set_0508_update/mdp/M_Wallets.png"
             width="250px"
             height="250px"
             alt="Card image cap">
            <div class="card-body">
                <a  href="#" class="card-link">Some quick example text to build on the card title and make up the bulk of the card's content.</a>
                <p>₹<span>200</span></p>
            </div>
        </div>
    </div>
</div>