<div class="products">
    <div class="products-choice">
        <form>
            <div class="form-group">
                <div class="tabcontainer">
                    <p class="sort-by">Sort By</p>
                    <select class="form-control sselect" id="exampleFormControlSelect1">
                        <option>Default</option>
                        <option>Price Highest</option>
                        <option>Price Lowest</option>
                        <option>Newest</option>
                    </select>
                </div>
            </div>
          </form>
    </div>
    <div class="products-container pt-5 pb-5">
        <div class="card mb-5" style="width: 18rem;">
            <img class="card-img-top"
             src="https://images-static.nykaa.com/media/catalog/product/tr:w-344,h-344,cm-pad_resize/d/a/da82310bmwha0125bk_1.jpg"
             width="250px"
             height="250px"
             alt="Card image cap">
            <div class="card-body">
                <a  href="#" class="card-link">Some quick example text to build on the card title and make up the bulk of the card's content.</a>
                <p>₹<span>2000</span></p>
            </div>
        </div>
        <div class="card mb-5" style="width: 18rem;">
            <img class="card-img-top" 
            src="https://rukminim1.flixcart.com/image/416/416/jyt0knk0/laptop-bag/z/j/p/mf-solid-backpack-waterproof-backpack-72c1e1-laptop-backpack-original-imafc6gnt8hytrzs.jpeg?q=70"
            width="250px"
             height="250px"
             alt="Card image cap">
            <div class="card-body">
                <a  href="#" class="card-link">Some quick example text to build on the card title and make up the bulk of the card's content.</a>
                <p>₹<span>19000</span></p>
            </div>
        </div>
        <div class="card mb-5" style="width: 18rem;">
            <img class="card-img-top"
             src="https://www.fossil.com/on/demandware.static/-/Library-Sites-FossilSharedLibrary/default/dw573c4176/2020/SU20/set_0508_update/mdp/M_Wallets.png"
             width="250px"
             height="250px"
             alt="Card image cap">
            <div class="card-body">
                <a  href="#" class="card-link">Some quick example text to build on the card title and make up the bulk of the card's content.</a>
                <p>₹<span>200</span></p>
            </div>
        </div>
        <div class="card mb-5" style="width: 18rem;">
            <img class="card-img-top" 
            src="https://www.labelritukumar.com/media/catalog/product/f/h/fhbgnp-00235a3126725-green-_1_.jpg?width=1000&height=1333&quality=75&fit=bounds"
            width="250px"
             height="250px"
             alt="Card image cap">
            <div class="card-body">
                <a  href="#" class="card-link">Some quick example text to build on the card title and make up the bulk of the card's content.</a>
                <p>₹<span>2000</span></p>
            </div>
        </div>
        <div class="card mb-5" style="width: 18rem;">
            <img class="card-img-top"
             src="https://images-static.nykaa.com/media/catalog/product/tr:w-344,h-344,cm-pad_resize/d/a/da82310bmwha0125bk_1.jpg"
             width="250px"
             height="250px"
             alt="Card image cap">
            <div class="card-body">
                <a  href="#" class="card-link">Some quick example text to build on the card title and make up the bulk of the card's content.</a>
                <p>₹<span>2000</span></p>
            </div>
        </div>
    </div>
</div>